[Desktop Entry]
Encoding=UTF-8
Name=到 File:libxmlsec-1.2.18.win32.zip 的链接
Type=Link
URL=ftp://ftp.zlatkovic.com/libxml/libxmlsec-1.2.18.win32.zip
Icon=text-html
